[submodule "thirdparty/compressonator"]
	path = thirdparty/compressonator
	url = https://github.com/GPUOpen-Tools/compressonator
[submodule "thirdparty/hllib"]
	path = thirdparty/hllib
	url = https://github.com/Silverlan/hllib.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/libsquish"]
	path = thirdparty/libsquish
	url = https://github.com/oblivioncth/libsquish.git
